<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutstyle.css" >
    <title>About Antonio Resines</title>
</head>
<body>

    <div class="container">
    <h1>Antonio Fernández Resines</h1>
    <h6>(Torrelavega, Cantabria; 7 de agosto de 1954)</h6>
    <img src = "antonio_resines.jpeg" alt="Antonio Resines" width="400" height="600">

    <article>Es un actor español de cine y televisión, principalmente, con diversas actuaciones en el teatro. Fue presidente de la Academia de las Artes y las Ciencias Cinematográficas de España (2015-2016) y ganador de un premio Goya a la mejor interpretación masculina protagonista.</article>
    </div>

    
</body>
</html>