<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./public/style.css" />
    <title>Works de Antonio</title>
</head>
<body>
    <div class="container"> 
    </div>
    <h1>Series ilustres de Antonio Resines</h1>
    <ol>
        <li>Los Serrano</li>
        <li>Siete Vidas</li>
        <li>Aída</li>
        <li>Ellas son así</li>
    </ol>
    </div>
</body>
</html>